@button-global-font-size: 24px;
@button-primary-bg-color: #26CC8C;
@theme-color: #26CC8C;
<<<<<<< HEAD
@group-title-margin-top: 0;
=======
@header-background-color: #fff;
@header-title-color: #333;
@header-text-color: #333;
@header-arrow-color: #333;
>>>>>>> d9e5e4c2bdea847e4f6f011475ec06e8d5aa2192
